@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

p {
    font-family: 'Quicksand', sans-serif;
}

.banner {
    background: url("https://images2.alphacoders.com/121/1215683.jpg")
    no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
}

.background {
    opacity: 0.75;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:red;
}

.kotak1 {
    background-color: white;
    width: 400px;
    height: 400px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.kotak2 {
    background-color: white;
    width: 400px;
    height: 400px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.kotak3 {
    background-color: white;
    width: 400px;
    height: 400px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.display-6 {
    opacity: 1.0;
}

.display-1 {
    opacity: 1.0;
}


nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: red;
    padding: 2px;
    position: sticky;
    top: 0;
}

nav a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-family: 'Quicksand',sans-serif;
}

* {
    box-sizing: border-box;
}


li {
    color: white;
}

li a:hover {
    color: white;
}
